---
import Container from "@components/ui/Container.astro";
import Button from "@components/ui/Button.astro";
---

<section class="py-12 md:py-20 bg-slate-dark text-white" id="about">
  <Container>
    <div class="flex flex-col md:gap-12 lg:flex-row lg:justify-between">
      {/* Left Column */}
      <div class="flex-1 lg:max-w-2xl">
        <div class="flex flex-col gap-6">
          <span
            class="text-sm font-medium tracking-wide uppercase border-b border-white w-fit pb-1"
          >
            About Us
          </span>
          <h2 class="text-white">Advanced Climate & Power Solutions</h2>
        </div>
      </div>

      {/* Right Column */}
      <div class="flex-1 lg:max-w-xl lg:pt-16">
        <div class="flex flex-col gap-8 md:gap-12">
          <p class="text-gray-300">
            True comfort is invisible — it's the perfect temperature and
            reliable power that you don't have to think about. We integrate
            state-of-the-art HVAC and electrical systems to create living and
            working spaces that are efficient, safe, and perfectly attuned to
            your needs.
          </p>
          <div>
            <Button href="/about" variant="primary"> More about us </Button>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
